@charset "utf-8";

/* =======================
 * basic
 * ======================= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a{
	text-decoration:none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family:"Microsoft YaHei", Arial, Verdana, sans-serif;
}

blockquote {
margin: 10px 0px;
padding: 25px 40px;
background: #F9F9F9;
position: relative;
}


blockquote p {
    margin: 5px 0!important;
    line-height: 2.0em;
}

hr{
    width: 30%;
    height: 1px;
    border: 0;
    background: #EFEFEF;
    margin: 20px 0;
}

.post-content pre {
	display: block;
	box-sizing: border-box;
	font: 12px/20px Menlo,Monaco,Consolas,"Courier New",monospace;
	width: auto;
	font-size: 13px;
	overflow: auto;
    padding: 20px;
	white-space: pre-wrap;
	word-wrap: break-word;
    background: url(http://www.ihewro.com/pic/pre.png) repeat top;
}

.post-content pre code {
	color: #414141;
	margin: 0;
	font-size: 1em;
	padding: 0;
	background: 0;
	border: 0;
	white-space: inherit;
	line-height: 20px;
}

code {
	font-family:"Microsoft YaHei";
	color: #c7254e;
	padding: 1px 5px;
	margin: 0 2px;
	border-radius: 2px;
	white-space: inherit;
	font-size: .8em;
	background: #f9f2f4;
	border: 0;
	line-height: 3px;
}


#cover {
  margin: 0 auto;
  max-width: 100%;
}

figure {
  margin: 0 auto;
}


/* =======================
 * utilities
 * ======================= */
.vertical-center-child {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: -moz-flex;
  -moz-flex-direction: column;
  -moz-justify-content: center;
  display: -ms-flex;
  -ms-flex-direction: column;
  -ms-flex-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transition {
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s;
}

.link {
  text-decoration: none;
  color: #6599ff;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s;
}

.link:hover {
  color: #9b9b9b;
}


/* =======================
 * components
 * ======================= */
/* menu */
.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index:100;
}

.clicked.menu {
  display: flex;
}

.m-iterm {
  display: block;
  padding: 35px 0;
  line-height: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  font-family: "Microsoft YaHei", Arial, Verdana, sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: lighter;
}

.m-iterm:hover {
  background-color: rgba(0, 0, 0, .2);
}

.menu-trigger {
    position: absolute;
    top: 15px;
    right: 13px;
    width: 30px;
    height: 30px;
    cursor: pointer;
	border-radius: 10%;
	background: rgba(255, 255, 255, 0.14);
}



#nav-menu i,#nav-menu:after,#nav-menu:before {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #000;
    top: 14px;
}
#nav-menu:before {
    top: 5px;
    content: '';
}
#nav-menu:after {
    top: 23px;
    content: '';
} 
#nav-menu{
    height: 21px;
    width: 21px;
    margin: 0 auto;
}
/* footer */
.footer {
  position: absolute;    
  bottom: 0px;
  left: 0;
  height: auto;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 13px;
}

.footer-clear {
  position: relative;
  margin-bottom: -100px;
  min-height: 100%;
}

.footer-clear:after {
  content: "";
  display: block;
  height: 100px;
}

.footer-pic {
  padding-top: 30px;
  height: 60px;
}

.footer-text {
  padding: 10px 0;
  height: auto;
}

.footer-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

div#friends .link {
    color: #666;
}
div#friends {
    margin-top: 10px;
}

/* =======================
 * pages
 * ======================= */
.index {
  position: relative;
  width: 100%;
  height: 100%;
   /* background: #94e3d8 url("../img/banner.jpg") no-repeat fixed left top;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#preview {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #fff;
    left: 100%;
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    overflow-y: scroll;
}
#preview.trans {
    left: auto;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
}
#preview.show {
    left: 0;
}
#preview.trans.show {
    left: auto;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
}


.layer {
    position: relative;
}
#cover {
    position: absolute;
    max-width: none;
}
#mark {
    width: 100%;
    height: 560px;
    overflow: hidden;
}
#screen {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

.index-container {
  position: absolute;
  top: 20%;
  width: 100%;
  min-width: 300px;
  height: 50%;
  min-height: 200px;
  background-color: rgba(255, 255, 255, .1);
}

.index-title {
  margin: 0;
  padding: 20px 0;
  line-height: 60px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-family: "Microsoft YaHei", Arial, Verdana, sans-serif;
  font-size: 36px;
  font-weight:500;
  color: #fff;
}

.index-contacts {
  padding: 40px 0;
  height: 100px;
  text-align: center;
}

.index-contact {
  display: inline-block;
  margin: 0 12px;
  width: 20px;
  height: 20px;
}

.index-contact:hover .svg-contact {
  fill: #8edc9d;
}

.archive {
  padding-bottom: 100px;
  text-align: center;
  font-family:"Microsoft YaHei", Arial, Verdana, sans-serif;
}

.archive-year {
  margin: 0;
  padding-top: 60px;
  line-height: 40px;
  font-size: 36px;
  color: #9b9b9b;
}

.archive-iterm {
  display: block;
  padding: 30px 0;
  height: auto;
  text-decoration: none;
}

.archive-iterm:hover {
  background-color: #f8f8f8;
}

.archive-title,
.archive-date {
  margin: 0;
  line-height: 20px;
  height: auto;
}

.archive-title {
  font-size: 14px;
  color: #000;
}


.archive-date {
  font-size: 12px;
  color: #9b9b9b;
}

@media (min-width: 400px) {
  .archive {
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
  }
}

.about p,
.page-not-found p {
  text-align: center;
  letter-spacing: 1px;
  font-family:Georgia, Times New Roman, serif;
}

/* =======================
 * post
 * ======================= */
.post {
  padding-bottom: 100px;
}

.post-header {
  margin-top: 50px;
  height: auto;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.post-title {
  margin: 0;
  padding-top: 40px;
  line-height: 20px;
      height: auto;
  font-family: "Microsoft YaHei", Arial, Verdana, sans-serif;
  font-size: 18px;
}

.post-date {
  margin: 0;
  padding: 5px 0 15px;
  line-height: 20px;
  height: 40px;
  font-family: "Microsoft YaHei", Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #9b9b9b;
}

.post-content {
  margin: 20px auto;
  padding: 20px;
  font-family: "Microsoft YaHei", Arial, Verdana, sans-serif;
}

.post-nav {
  position: relative;
  margin: 20px auto 50px;
  height: 100px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.p-n-sep {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 40px;
  height: 100px;
  width: 40px;
}

.p-n-previous,
.p-n-next {
  display: block;
  position: absolute;
  padding: 35px 0;
  height: 100px;
  width: 100%;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  font-family:Georgia, Times New Roman, serif;
  font-size: 14px;
  color: #6599ff;
  cursor:text;
}

.p-n-previous a,
.p-n-next a {
	
	text-decoration:none;
	color:#666;
}
.p-n-previous:hover,
.p-n-next:hover {
  background-color: #f8f8f8;
}

.p-n-sep ~ .p-n-previous {
  left: 0;
  width: 45%;
}

.p-n-sep ~ .p-n-next {
  right: 0;
  width: 45%;
}


/* typeset */
.post-content a {
  color: #6599ff;
  text-decoration: none;
  -webkit-transition: border .5s;
  -moz-transition: border .5s;
  transition: border .5s;
}

.post-content a:hover {
  color: #000;
}

.post-content h1 {
  font-size: 18px;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-size: 16px;
}

.chinese .post-content {
  line-height: 24px;
}

.chinese .post-content p {
  margin: 0 0 24px;
}

.english .post-content {
  line-height: 20px;
}

.english .post-content p {
  margin: 0 0 20px;
}

@media (min-width: 600px) {
  .post {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
  }
}

/* ==========================================================================
   #comments
   ========================================================================== */
/* comment */
#comments h4 {
  text-align: center;
}

.comment-submit
{
    display: block;
    float: left;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ededed;
    cursor: pointer;
    transition: ease-in-out .25s;
}
.comment-submit:hover
{
    color: #fff;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
    transition: ease-in-out .25s;
}
.comment-submit:active
{
    color: #fff;
    background-color: #0277bd;
    border: 1px solid #0277bd;
    transition: ease-in-out .25s;
}
ol.comment-list {
    padding-left: 0px;
}
.comment-list li {
    list-style: none;
}
.comment h2, .response
{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    margin-bottom: 10px;
}
.comment .comment-list li
{
    width: 100%;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.comment-author
{
    width: 100%;
    height: 32px;
}
.comment-author span
{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}
.comment-author span img
{
    border-radius: 50%;
}
.comment-author cite
{
    font-size: 14px;
    line-height: 2.285714285714286;
    color: #333;
    font-style: normal;
    margin-top: -50px;
}
.comment-author cite a
{
    font-size: 14px;
    line-height: 2.285714285714286;
    color: #03a9f4;
    font-style: normal;
    text-decoration: none;
    margin-top: -50px;
}
.comment-meta a
{
    font-size: 12px;
    color: #999;
    text-decoration: none;
    margin-left: 42px;
}
.comment-content
{
    margin-left: 42px;
}
.comment-content p
{
    font-size: 16px;
    margin-bottom: 10px;
    word-break: break-all;
}
.comment-content p img.smiley
{
    width: 36px;
}
.comment-reply
{
    margin-bottom: 20px;
    overflow: hidden;
}
.comment-reply a
{
    display: block;
    float: right;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ededed;
    transition: ease-in-out .25s;
}
.comment-reply a:hover
{
    color: #fff;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
    transition: ease-in-out .25s;
}
.comment-reply a:active
{
    color: #fff;
    background-color: #0277bd;
    border: 1px solid #0277bd;
    transition: ease-in-out .25s;
}
.cancel-comment-reply
{
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}
.cancel-comment-reply a
{
    font-size: 14px;
    color: #03a9f4;
    float: right;
}
.respond
{
    width: 100%;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
    overflow: hidden;
}
.respond form p
{
    font-size: 14px;
    margin-bottom: 10px;
}
.respond form p a
{
    font-size: 14px;
    color: #03a9f4;
    font-style: normal;
    text-decoration: none;
}
.respond form p label[for=textarea]
{
    vertical-align: top;
}
.respond form textarea, .respond form input, .nav-slider-inner ul li.search input[type=search]
{
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    transition: ease-in-out .25s;
}
.nav-slider-inner ul li.search input[type=search]
{
    padding-right: 10px;
    padding-left: 10px;
}
.respond form textarea:focus, .respond form input:focus, .nav-slider-inner ul li.search input[type=search]:focus
{
    border: 1px solid #03a9f4;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05), 0 0 2px rgba(3, 169, 244, 0.5);
    transition: ease-in-out .25s;
}
.respond form textarea
{
    max-width: 540px;
    min-height: 150px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 2;
	margin-top: 10px;
}
.respond form input
{
    max-width: 320px;
    padding-right: 10px;
    padding-left: 10px;
}
.respond form button
{
    outline: none;
    margin-bottom: 0;
    margin-left: 0px;
}

button.comment-submit,#textarea,.text{
	font-family:"Microsoft YaHei", Arial, Verdana, sans-serif;;
}
/* ==========================================================================
   #navigator
   ========================================================================== */

.index-pagenav{max-width:924px;height:auto;margin:15px auto;position:relative;z-index:10;padding: 0 0 20px 0;}
.index-pagenav-onecol{width: 762px;}
.page-nav{font-size: .85em;font-weight:normal;color:#a7a7a7;border-radius:2px}
.page-prev a,.page-next a{background-color:#fff;color:#777;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;padding: 8px 10px;-webkit-border-radius:3px;border-radius:3px}
.page-prev a:hover,.page-next a:hover{color:white;background:#5b6064}
.pagenav{margin:0;text-align:center}
.page-navigator{margin:0;padding:0;list-style-type:none;color:#aaa;text-align:center}
.page-navigator li{display:inline-block;float:none;margin:.4rem}
.page-navigator a{color:#a7a7a7;line-height:2rem;display:block;width:2rem;height:2rem}
.page-navigator .current{border-radius:50%;background-color:#fff;background:#fff;border: 1px solid #ccc;}
.page-navigator .current:hover{border: 1px solid #f08f00;}
.browsehappy{bottom:0;top:0;width:100%;height:40px;z-index:999;position:fixed;background:#fbe3e4;color:#8a1f11;text-align:center;padding:10px}
.browsehappy a{color:#8a1f11;text-decoration:underline;font-weight:700}


a.social {
	position: relative;
	display: inline-block;
	margin: 0 12px;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 0px solid;
	border-color: #e4e4e4;
	border-radius: 50%;
    background: rgba(255, 255, 255, 0.14);
    color: #d9dedb;
}

.social .fa {
    font-size: 27px;
}

a.social:hover {
	background: rgba(255, 255, 255, 0.54);
    color: #fff;
}

.fa{
	font-size: 14px;
    line-height: 40px;
}

#pjax-container {
    height: 100%;
}

#me-words p {
    text-align: center;
	font-family:"Microsoft YaHei", Arial, Verdana, sans-serif;
}

/* =======================
 * archive.php
 * ======================= */
 
 
 /* =======================
 * 首页搜索
 * ======================= */
 

#search {
    margin: 15px;
}

#search-text{
	background: rgba(0, 0, 0, 0.22);
    border: none;
    height: 40px;
    color: #fff;
    width: 300px;
    border-radius: 5%;
}

#search-submit {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 25px;
    color: #fff;
}
 
#search-text:focus {
    border: none;
    box-shadow: none;
	
}

/* ==========================================================================
   #滚动条（webkit核心浏览器）
   ========================================================================== */


::-webkit-scrollbar {
	height: 8px;
	width: 6px
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0
}

::-webkit-scrollbar-button:end:increment,::-webkit-scrollbar-button:start:decrement {
	display: block
}

::-webkit-scrollbar-button:vertical:end:decrement,::-webkit-scrollbar-button:vertical:start:increment {
	display: none
}

::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-track:vertical {
	border-style: solid;
	border-color: transparent
}

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
	background-clip: padding-box;
	background-color: #fff
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	background-clip: padding-box;
	background-color: rgba(0,0,0,.5);
	min-height: 28px;
	padding-top: 100px
}

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
	background-color: rgba(0,0,0,.4)
}

::-webkit-scrollbar-thumb:active {
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
	background-color: rgba(0,0,0,.5)
}

::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-track:vertical {
	border-width: 0
}

::-webkit-scrollbar-track:hover {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.05)
}


::-webkit-scrollbar-track:active {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
	background-color: rgba(0,0,0,.05)
}


::selection {
    background: #333;
    color: #FFF;
}